---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio" description="Página de tienda de instrumentos musicales, guitarras, cursos, blog y más">
	<main>
		<h1>Inicio</h1>
	</main>
</Layout>

<style>
	
</style>
