---
import Layout from '../layouts/Layout.astro';
import nosotros from '../img/nosotros.jpg';
---

<Layout title="Nosotros" description="Página de tienda de instrumentos musicales, guitarras, cursos, blog y más">
	<main class="contenedor">
		<h1 class="heading">Nosotros</h1>
    <div class="contenido">
      <img src={nosotros} alt="Imagen sobre nosotros" />
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, doloremque? Natus eius quasi necessitatibus ab qui omnis aspernatur quibusdam at dolorum id rerum, pariatur sapiente. Cumque minima ea quo culpa?</p>
        <p>Alias aut temporibus suscipit eaque, officia non nobis voluptates, ab consequatur unde molestias mollitia iste eligendi cupiditate deleniti dolorem, dolores vel quis. Id laudantium distinctio iste aperiam a facere corrupti!</p>
      </div>
    </div>
	</main>
</Layout>

<style>
	.contenido {
    display: grid;
    gap: 4rem;
  }

  @media (min-width: 768px) {
      .contenido {
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
      }
  }
</style>