---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tienda virtual" description="Página de tienda de instrumentos musicales, guitarras, cursos, blog y más">
	<main class="contenedor">
		<h1 class="heading">Tienda virtual</h1>
	</main>
</Layout>

<style>
	
</style>